<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sdMath</title>
  <link rel="stylesheet" href="\css\home.css">

  <!-- <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
  <!-- <style>

#logoNav{
  height:300px;
  width: 600px;
  border:5px solid green;
}
</style> -->

</head>

<body>  
<nav style="background: #42A5F5;     display: flex;">     
  <ul style="display: flex;
  margin: 0px 0px 0px 0px;
  padding: 3px 0px 3px 71px;">
    <li class="li-1"> <a href="https://www.facebook.com/" style="color: unset;"><i class="fa-brands fa-square-facebook"></i></a>  </li>
    <li class="li-1"><a href="https://www.whatsapp.com/" style="color: unset;"><i class="fa-brands fa-square-whatsapp"></i></a></li>  
    <li class="li-1"><a href="https://www.instagram.com/" style="color: unset;"><i class="fa-brands fa-square-instagram"></i></a> </li>  
    <li class="li-1"><a href="https://x.com/?lang=en" style="color: unset;"><i class="fa-brands fa-square-twitter"></i></a></li>          
    <a href="/login" class="tlogin" style="    text-decoration: none;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    padding: 6px 5px 0px 5px;
    background: #1976D2;" >Teacher login</a>    
  </ul>
  
  <%if(users) { %>

    <div id="profileHeadDiv">
      <div id="a" style="    padding-top: 7px;
    font-size: 19px;">
      <%=udetail[0].stuName%></div>

      <div id="userid" style="display: none;"><%=users%></div>
        
      <div id="outerInheadDiv-3"> 
       
        
        <button id="inheadDiv-3" class="inheadDiv" onclick="toggleProfile()"><img src=".\public\images\kindpng_4952535.png" alt="profile"></button>
        <br>
    <div id="profileBox"> </div>
        </div>
    </div>

  <%}  %>
</nav>    


 
  
  <header id="homeHeader">
    <div class="inHeader" id="item-1">
      <img src="\public\images\websitelogo2.jpg" alt="SdMath" srcset="">
    </div>
    
    <div class="inHeader" id="item-2">  
      <h1> <span>MATHEMATICS ACADEMY</span></h1>
      <h2>No. 1 Institution Of All India Mca Entrance</h2>
      <div id="containMarqueeTlogin" style="display: flex;">   
        <div id="marqueediv">
          <marquee behavior="scroll" scrollamount="5">More than 20 years of teaching experience</marquee>
        </div>
        
      </div>  
    </div> 
    
    <div style="    height: 133px;
    width: 228px;
    display: flex;
    flex-direction: column;
    align-items: center;">

      <div style="    text-align: center;
      color: white;
      border: 1px solid green;
      font-size: 28px;
      background: #F9A825;
      color: white;
      border-radius: 5px;
      padding: 4px 0px 4px 0px;   
      width: 149px;
      margin-top: 20px;">Contact</div>  

      <div style="display: flex; margin-top: 20px;">     
       <a href="#" style="cursor: pointer;"> <i class="fa fa-phone" style="padding: 0px 10px 0px 10px;
        font-size: 22px;
        /* color: white; */   
        color: #FF5722;   
        "></i></a>   
        <a href="https://www.google.com/maps/place/Garia,+Kolkata,+West+Bengal/@22.4533628,88.3742409,12.63z/data=!4m6!3m5!1s0x3a0271a00d52ca53:0x84c91e76a182e37a!8m2!3d22.4660129!4d88.3928446!16zL20vMGMwMnYx?entry=ttu" style="cursor: pointer;"><i class="fa fa-location-dot" style="padding: 0px 10px 0px 10px;
        font-size: 22px;
        /* color: white; */
        color: #FF5722;"></i></a>   
        <a href="https://telegram.org/" style="cursor: pointer;"><i class="fa-brands fa-telegram" style="padding: 0px 10px 0px 10px;
        font-size: 22px;
        /* color: white; */  
        color: #FF5722;"></i></a>
        <a href="https://www.youtube.com/watch?v=Kz7orumpkWE" style="cursor: pointer;"><i class="fa-brands fa-youtube" style="padding: 0px 10px 0px 10px;  
        font-size: 22px;
        /* color: white; */
        color: #FF5722;"></i></a>    
      </div>
    </div>
   
                  
  </header>


  <nav id="homeNav">
    <ul id="navlist">
      <li id="li-1" class="listitem"><a href="">home</a></li>
      <li id="li-12" class="listitem"><a href="/viewgallery">gallery</a></li>    
      <li id="li-2" class="listitem"><a href="/studentlogin">student login</a></li>   
      <li id="li-3" class="listitem"><a href="/registration1">student register</a></li>
      <li id="li-12" class="listitem"><a href="#admisionNew"><i class="fa fa-angle-down"></i>admission notice </a>
      
        <div class="sub-menu-1">
          <ul>   
            <li class="item"><a href="#admisionNew">notifications</a></li>
            <li class="item"><a href="#admisionNew">upcoming events</a></li>
            <li class="item"><a href="#admisionNew">events</a></li>
          </ul>
        </div>
  
      </li>
      <li id="li-13" class="listitem"><a href="/feestructure"><i class="fa fa-angle-down"></i>fees structure</a>
      
        <div class="sub-menu-1">
          <ul>   
            <li class="item"><a href="">I.S.I ENTRANCE</a></li>
            <li class="item"><a href="">IIT JAM</a></li>
            <li class="item"><a href="">B.S.C MATH(HOUNS && PASS)</a>
            </li>
            <li class="item"><a href="">COMPUTER LANGUAGE</a></li>
            <li class="item"><a href="">JELET</a></li>
            <li class="item"><a href="">GATE(MATH && COMPUTER)</a></li>
            <li class="item"><a href="">NIMCET ENTRANCE</a></li>
            <li class="item"><a href="">B.TECH(MATH && COMPUTER)</a></li>
            <li class="item"><a href="">JEE MAIN</a></li>
            <li class="item"><a href="">COMPUTER PROJECT</a></li>
            <li class="item"><a href="">S.S.C (school service)</a></li>
          </ul>
        </div>

      </li>    
      <li id="li-4" class="listitem"><a href="/courses"><i class="fa fa-angle-down"></i>courses</a>
      
        <div class="sub-menu-1">
          <ul>   

            <li class="item"><a href="/viewcourses/?name=I.S.I ENTRANCE">I.S.I ENTRANCE</a></li>  
            <li class="item"><a href="/viewcourses/?name=IIT JAM">IIT JAM</a></li>
            <li class="item"><a href="/viewcourses/?name=B.S.C MATH(HONOURS PASS)">B.S.C MATH(HOUNS && PASS)</a></li>
            <li class="item"><a href="/viewcourses/?name=COMPUTER LANGUAGE">COMPUTER LANGUAGE</a></li>   
            <li class="item"><a href="/viewcourses/?name=JELET">JELET</a></li>
            <li class="item"><a href="/viewcourses/?name=GATE (MATH COMPUTER)">GATE(MATH && COMPUTER)</a></li>
            <li class="item"><a href="/viewcourses/?name=NIMCET ENTRANCE">NIMCET ENTRANCE</a></li>  
            <li class="item"><a href="/viewcourses/?name=B.TECH (MATH COMPUTER)">B.TECH(MATH && COMPUTER)</a></li>  
            <li class="item"><a href="/viewcourses/?name=JEE (MAINADVANCE)">JEE MAIN</a></li>
            <li class="item"><a href="/viewcourses/?name=COMPUTER PROJECT">COMPUTER PROJECT</a></li>   
            <li class="item"><a href="/viewcourses/?name=S.S.C(school service comission)">S.S.C (school service)</a></li>

          </ul>
        </div>
      
      </li>
  
      <li id="li-14" class="listitem"><a href="/parentZone">parent zone</a></li>   
      <!-- <li id="li-9" class="listitem"><a href="/login">Teacher login</a></li> -->
      <li id="li-10" class="listitem"><a href="#aboutus">about us</a></li>
      <li id="li-11" class="listitem"><a href="#contact-Us">contact us</a></li>

    </ul>
  </nav>


  <div id="homePhotoSection">
    <img src="public\images\group photp2.jpg" alt="mathmatics">
    <!-- <img src="public\images\homeimage1.jpg" alt="photo1"> -->
    
  </div>

<div style="    display: flex;
justify-content: space-between;
margin-top: 46px;    
margin-bottom: 46px;">          
  <a href="/viewgallery" style="text-decoration: none;"><div class="details"><i class="fa fa-light fa-photo-film" style="font-size: 38px; color: white;"></i><p class="updateBar">photo gallery</p></div></a>

  <a href="#admisionNew" style="text-decoration: none;"><div class="details"><i class="fa fa-light fa-file" style="font-size: 38px; color: white;"></i><p class="updateBar">
    admission notice 
  </p></div> 
</a>   
  <a href="/feestructure" style="text-decoration: none;">
    <div class="details"><i class="fa-solid fa-money-check-dollar" style="font-size: 38px; color: white;"></i>
    <p class="updateBar">fees structure</p></div>
  </a>

  <a href="/studentFeedback" style="text-decoration: none;"><div class="details"><i class="fa-regular fa-comments" style="font-size: 38px; color: white;"></i>
    <p class="updateBar">student feedback</p></div></a> 

  <a href="/doubt" style="text-decoration: none;"><div class="details"><i class="fa-solid fa-question" style="font-size: 38px; color: white;"></i>
    <p class="updateBar">doubt asked</p></div></a>

  <a href="/parentZone" style="text-decoration: none;"><div class="details"><i class="fa-solid fa-hands-holding-child" style="font-size: 38px; color: white;"></i><p class="updateBar">parent zone</p></div></a>

</div>
    

<div id="admisionNew" style="    display: flex;
width: 1164px;
/* border: 1px solid green; */
margin: auto;
background: #343487;
/* border-right: 1px solid white; */
padding-top: 10px;
padding-bottom: 18px;
margin-bottom: 45px;">     
    <div class="nLN">
      <div class="innNL">    
        <i class="fa-sharp fa-regular fa-file-lines"     style="color: white;
        font-size: 46px;" ></i>
        <hr color="white">
      </div>   
      <p  class="nNLp">notifications</p>   
      <div style="padding-left: 25px;
      color: white;
      font-weight: bold;">   
        <marquee direction="up" behavior="scroll" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">       
          <ul class="latest-news-ul">
          <% latest.forEach(notice1=>{  %>
            <li> <%=notice1.notice%> <img src="\public\images\latest-news-blink-img.gif"><hr style="color: white;"></li>
        <%  })%>
  
          </ul>
          </marquee>
      </div>
    </div>

    <div class="nLN">
      <div class="innNL">
        <i class="fa-regular fa-envelope-open" aria-hidden="true"     style="color: white;
        font-size: 46px;" ></i>  
        <hr color="white">
      </div>
      <p class="nNLp">upcoming events</p>
      <div style="padding-left: 25px;
      color: white;
      font-weight: bold;">  
        <marquee behavior="scroll" direction="up" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">
        <ul class="upcoming-event-list">
          <% upcoming.forEach(upcom=>{ %>  
            <li><%= upcom.notice%> <hr style="color: white;"></li>  
         <% })%>    
        </ul>   
      </marquee>

      </div>
    </div>
    <div class="nLN" style="border: none;">
      <div class="innNL">
        <i class="fa-regular fa-calendar-check" style="color: white;
        font-size: 46px;" ></i>
        <hr color="white">
      </div>
      <p class="nNLp">events</p>
      <div style="padding-left: 25px;
      color: white;  
      font-weight: bold;">
        <marquee direction="up" behavior="scroll" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();">     
          <ul class="latest-news-ul">
          <% latest.forEach(notice1=>{  %>
            <li> <%=notice1.notice%> <img src="\public\images\latest-news-blink-img.gif"> <hr style="color: white;"></li>
        <%  })%>
  
          </ul>
          </marquee>
      </div>
  </div>   

</div>


<div style="text-align: center; background: #2f2fa4; ">
  <h2 style="    color: whitesmoke;
  margin: 0px;
  padding: 26px 0px 25px 0px;
  font-size: 39px;">Courses We Offer</h2>   
  <div id="courseContainer">
    <a class="ab" href="/viewcourses/?name=I.S.I ENTRANCE">
      <div class="courseitem">
        <i class="fa-solid fa-landmark" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">I.S.I ENTRANCE</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=IIT JAM">
      <div class="courseitem"> 
        <i class="fa-sharp fa-solid fa-pen-to-square" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">IIT JAM</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=COMPUTER LANGUAGE">
      <div class="courseitem">
        <i class="fa fa-laptop-code" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">COMPUTER LANGUAGE</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=B.S.C MATH(HONOURS PASS)">
      <div class="courseitem">
        <i class="fa-solid fa-calculator" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">B.S.C MATH(HONOURS & PASS)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=JELET">
      <div class="courseitem">
        <i class="fa fa-pen-nib" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">JELET</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=GATE (MATH COMPUTER)">
      <div class="courseitem">
        <i class="fa fa-graduation-cap" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">GATE (MATH & COMPUTER)</h2>  
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p> 
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=NIMCET ENTRANCE">
      <div class="courseitem">
        <i class="fa-solid fa-landmark" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">NIMCET ENTRANCE</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=B.TECH (MATH COMPUTER)">
      <div class="courseitem">
        <i class="fa fa-gears" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">B.TECH (MATH & COMPUTER)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>


    <a  class="ab" href="/viewcourses/?name=JEE (MAINADVANCE)">
      <div class="courseitem">
        <i class="fa fa-clipboard" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">JEE (MAIN & ADVANCE)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="#">
      <div class="courseitem">
        <i class="fa-solid fa-book-open-reader" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">MOCK TEST</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>
    
    <a class="ab" href="/viewcourses/?name=COMPUTER PROJECT">
      <div class="courseitem">
        <i class="fa-sharp fa-solid fa-desktop" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">COMPUTER PROJECT</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>  
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=S.S.C(school service comission)">
      <div class="courseitem">
        <i class="fa fa-school" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">S.S.C(school service comission)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=CLASS XI (MATH)">
      <div class="courseitem">
        <i class="fa fa-light fa-calculator" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">CLASS XI (MATH)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=CLASS XI (MATH)">
      <div class="courseitem" >
        <i class="fa fa-square-root-variable" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">CLASS XII (MATH)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=CAT-MAT (MATHEMATICS)">
      <div class="courseitem">
        <i class="fa fa-pen-nib" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">CAT-MAT (MATHEMATICS)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
      </div>
    </a>

    <a class="ab" href="/viewcourses/?name=OXYMPIAD (MATH)">
      <div class="courseitem">
        <i class="fa-solid fa-user-pen" style="color: rgb(10, 206, 75); font-size: 40px;"></i>
        <h2 class="coursehead">OXYMPIAD (MATH)</h2>
        <p class="coursePara">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
      </div>
    </a>

  </div>
</div>






 
  <div id="aboutus">

    <div id="aboutsd">
      <img src="\public\images\sd.png" alt="subhabrata dinda">
    </div>    
    <div id="aboutsdText">
      I, Dr. Subhabrata Dinda, got my Ph.D Degree from Jadavpur University in Science since 2020. I delivered the
      lecture through online and off line mode. Here every previous students got MCA ranked and servies different
      Multinational Companies. Many of Students got service at SCHOOL(GOVT) , COLLEGE, BANK , FOOD(GOVT), INDIAN
      RAILWAYS, POST OFFICE and other's Govt Jobs. I inspire to all students to get the decisions from first year
      (Hons/Pass) course, then you reach to your goal. I supplied the photo copy of Study Material in all courses. The
      student's will be gainer to got my Study Material.More than 20 years I teaches in my Coaching Institute.
    </div>

  </div>
  <div id="location">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d88388.68375421318!2d88.34451951535934!3d22.46577175819336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0271a00d52ca53%3A0x84c91e76a182e37a!2sGaria%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1705083764103!5m2!1sen!2sin"
      width="100%" height="361px" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>


  <!-- footer section -->
  <footer id="contact-Us">   
    <div class="footer-col">
      <h4>Terms</h4>
      <ul>
        <li><a href="#">teams</a></li>
        <li><a href="#">advertising</a></li>
        <li><a href="#">talent</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>abc</h4>
      <ul>
        <li><a href="#">fees structure</a></li>
        <li><a href="#">science</a></li>
        <li><a href="#">admision</a></li>
        <li><a href="#">courses</a></li>
        <li><a href="#">API</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>abc</h4>
      <ul>
        <li><a href="#">about</a></li>
        <li><a href="#">legal</a></li>
        <li><a href="#">contact us</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h4>follow us</h4>
      <div class="links">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </footer>


  <script>    
  let userid=document.getElementById('userid').innerText;  
    let hiDivVisible = false;
    function toggleProfile() {
      const hiDiv = document.getElementById('profileBox');
      
      if (hiDivVisible) {
        hiDiv.style.display = 'none'; // Hide the div
        hiDivVisible = false;
      } else {  
        hiDiv.innerHTML = ` <a class="profileOption" id="backhome" href="/">Home</a>
        
        <a class="profileOption" id="profileLink" href="/myProfile/${userid}">My Profile</a>
         
        <a class="profileOption" href="/MyAccount/${userid}">My Account</a>  
  
  <a class="profileOption" href="/MyEnrollments/${userid}">My Enrollments</a>
      
  <a class="profileOption" href="/logout">Sign Out</a> `;  

        hiDiv.style.display = 'flex'; // Show the div
        hiDiv.style.flexDirection='column';
        hiDivVisible = true;
      }
    }     
    
  </script>

</body>

</html>