<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>      

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>      
  
    <!-- CSS -->
    <link rel="stylesheet" href="\css\profilePage.css">
</head>     
<body>  
      
  <div id="profileHeadDiv">
    <div id="inheadDiv-1" class="inheadDiv"><img src="\images\websitelogo2copy.jpg" alt="logo"></div>     
    <div id="inheadDiv-2" class="inheadDiv"><input type="search" placeholder="search here "><div><img src="\images\icons8-search-50.png" alt=""></div></div>  
    <div id="userid"><%=users%></div>   
    <div id="outerInheadDiv-3">  
      <button id="inheadDiv-3" class="inheadDiv" onclick="toggleProfile()"><img src="\images\kindpng_4952535.png" alt="profile"></button>
      <br>
      <div id="profileBox">     

      </div>
    </div>
    

  </div>
  <div id="username">
    <span id="hiname">hi suman halder,</span>
    <br>
    <span id="welcomeTo">welcome to Math Academy</span>   
  </div>
  <div id="myenroll">
    <span id="continueLearning">continue learning</span> <a href="/MyEnrollments/<%= users%>">My Enrollments -></a>
  </div>  
  <%if(recentCourse){ %>  
  <a href="/onlineClass/<%=recentCourse[0].courseId%>" style="text-decoration: none;">   
    <div id="continueCourse">   
      <div id="courseview">
      <img src="<%=recentCourse[0].imagePath%>" alt="recent course">
    </div>   
    <div id="coursedetails">
      
      <p class="detail">course   :<%=recentCourse[0].courseName %></p>
       
      <p class="detail">coordinate by    :<%= recentCourse[0].coordinator%></p>   
      <p class="detail">Course Validation    : <%= recentCourse[0].courseTime%> months</p>   
    </div>    
    </div>
</a>
<% } %>

  <%if(recentCourse===0){ %>
    <div id="recentCourseZero">
    <img src="\images\joinExamGirl.png" alt="buy now" id="notCourseImg">
<div>  
  <span id="noCourse">No course You Buyed</span>
  <button id="enrollnow">Buy Now</button>
</div>
</div>    
  <%}%>



  <div id="courses">
    courses <div id="courseno">30</div> 
  </div>
  
  


  <!-- <div id="allcourses">

    

      
    <div class="item">div1</div>
    <div class="item">div2</div>
    <div class="item">div3</div>
    <div class="item">div4</div>

    
    
  </div> -->

    
<div id="scrolldiv">  
  <section>
    
    <div class="swiper mySwiper container">
      <div class="swiper-wrapper content">

        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/1.jpg" alt="">     
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Ally Pearson</span>
              <span class="profession">Web Developer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/2.jpg" alt="">   
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Dominic Wells</span>
              <span class="profession">Software Engineer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/3.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Kylie Smith</span>
              <span class="profession">UX/UI Desinger</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>    
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/4.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Stephanie Xia</span>
              <span class="profession">Backend Developer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/5.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Jordan Tapp</span>
              <span class="profession">Network Engineer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/6.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Caroline Parker</span>
              <span class="profession">Systems Analyst</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/7.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Maddie Crox</span>
              <span class="profession">Frontend Developer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/8.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Simone Mitchell</span>
              <span class="profession">Java Developer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>
        <div class="swiper-slide card">
          <div class="card-content">
            <div class="image">
              <img src="images/9.jpg" alt="">
            </div>

            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>

            <div class="name-profession">
              <span class="name">Heather Cornwell</span>
              <span class="profession">Systems Engineer</span>
            </div>

            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
            </div>

            <div class="button">
              <button class="aboutMe">About Me</button>
              <button class="hireMe">Hire Me</button>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="swiper-button-next" style="right: -42px; color: black;"></div>    
      <div class="swiper-button-prev" style="left: -42px; color: black;"></div>  
      <div class="swiper-pagination"></div>
  </section>
</div>     


<hr>
<div id="footer">
  <div id="footer-1" class="footeritem">SD</div>
  <div id="footer-2" class="footeritem">About us</div>

  
  <div id="footer-3" class="footeritem"><img src="\images\icons8-twitter-squared-48.png" alt=""></div>   
  <div id="footer-4" class="footeritem"><img src="\images\youtube.256x256.png" alt=""></div>
  
</div>  
  <!-- Swiper JS -->
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  
  <script>      
  let userid=document.getElementById('userid').innerText;  
    let hiDivVisible = false;          
    function toggleProfile() {
      const hiDiv = document.getElementById('profileBox');
      
      if (hiDivVisible) {
        hiDiv.style.display = 'none'; // Hide the div
        hiDivVisible = false;
      } else {  
        hiDiv.innerHTML = `  <a class="profileOption" id="profileLink" href="/myProfile/${userid}">My Profile</a>
  <br>         
        <a class="profileOption" href="/MyAccount/${userid}">My Account</a>  
  <br>  
  <a class="profileOption" href="/MyEnrollments/${userid}">My Enrollments</a>
  <br>      
  <a class="profileOption" href="/logout">Sign Out</a> `;  

        hiDiv.style.display = 'flex'; // Show the div
        hiDiv.style.flexDirection='column';
        hiDivVisible = true;
      }
    }     
    

    var swiper = new Swiper(".mySwiper", {
  slidesPerView: 4,
  spaceBetween: 30,   
  slidesPerGroup: 1,       
  loop: true,    
  loopFillGroupWithBlank: true,
  pagination: {
    el: ".swiper-pagination",
    clickable: true,
  },
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
});


  </script>


</body>
</html>